altair==5.3.0
asgiref==3.7.2
attrs==23.2.0
blinker==1.8.2
cachetools==5.3.3
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
Django==5.0.1
django-jazzmin==2.6.1
et-xmlfile==1.1.0
fonttools==4.51.0
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
mysqlclient==2.2.4
numpy==1.26.4
openpyxl==3.1.5
packaging==24.0
pandas==2.2.2
pillow==10.2.0
protobuf==5.27.2
pyarrow==16.1.0
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.1.2
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
qrcode==7.4.2
referencing==0.35.1
reportlab==4.1.0
requests==2.32.3
rich==13.7.1
rpds-py==0.19.0
seaborn==0.13.2
six==1.16.0
smmap==5.0.1
sqlparse==0.4.4
streamlit==1.36.0
tenacity==8.5.0
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
typing_extensions==4.11.0
tzdata==2024.1
gunicorn==21.2.0
urllib3==2.2.2
