{% extends 'admin/base.html' %}

{% block content %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="get" action="{% url 'inventory_management:dashboard' %}">
                <div class="form-group">
                    <label for="productFilter">Filtrar por Produto:</label>
                    <select class="form-control" id="productFilter" name="product">
                        <option value="">Todos</option>
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>
        <div class="col">

            <button type="submit" class="btn btn-primary" style="margin-top: 32px;">Filtrar</button>
        </div>
    </form>
        
          
    </div>
   
</div>


<div class="container my-3">
    <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="quantity-tab" data-toggle="tab" href="#quantity" role="tab" aria-controls="quantity" aria-selected="true">Estoque</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="write-off-tab" data-toggle="tab" href="#write-off" role="tab" aria-controls="write-off" aria-selected="false">Baixas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="movements-tab" data-toggle="tab" href="#movements" role="tab" aria-controls="movements" aria-selected="false">Movimentos de Estoque</a>
        </li>
    </ul>
    <div class="tab-content" id="dashboardTabsContent">
        <div class="tab-pane fade show active" id="quantity" role="tabpanel" aria-labelledby="quantity-tab">
            <div class="container my-3">
                <div class="row">
                    <div class="col-6">
                        <p style="font-weight: bold; font-size: larger;">Quantidade Total de Metros e Quilos</p>
                        <div class="row"> 
                        <div class="col-4"> 
                            <p>Total de Metros: {{ total_meters }}m</p>
                        </div>
                        <div class="col-4"> 
                            <p>Total de Quilos: {{ total_kilograms }}kg</p>
                        </div>
                        </div>    
                    </div>
                <div class="col-6">
                    <p style="font-weight: bold; font-size: larger;">Valor Total de Produtos em Estoque</p>
                    <p>O valor total geral de produtos em estoque é: R$ {{ overall_value }}</p>
                </div>
           
                
            </div>
        </div>
            <div class="container">
                <p style="font-weight: bold; font-size: larger;">Quantidade Total de Produtos no Estoque ao Longo do Tempo</p>
                <div class="chart-container" style="position: relative; height: 300px; width: 70vw;">
                    <canvas id="stockQuantityChart"></canvas>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="write-off" role="tabpanel" aria-labelledby="write-off-tab">
            <div class="container my-3">
                <div class="row">
                <div class="col-3">
                    
                    <p style="font-weight: bold; font-size: larger;">Quantidade de Produtos Baixados</p>
                    <p>{{ write_off_products_number }} unidades</p>
                    <br>
                    <p style="font-weight: bold; font-size: larger;">Valor Total de Produtos Baixados</p>
                    <p>R$ {{ total_write_off_value }}</p>

                </div>
                <div class="col-9">
                <p style="font-weight: bold; font-size: larger;">Gráfico de Linha do Tempo das Baixas</p>
                <div class="chart-container" style="position: relative; height: 300px; width: 50vw;">
                <canvas id="writeOffChart"></canvas>
            </div>
            </div>
           
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-9">
                <div>
                    <p style="font-weight: bold; font-size: larger;">Gráfico de Produtos com Mais Baixas</p>
                    <img src="data:image/png;base64,{{ product_chart }}" alt="Gráfico de Produtos com Mais Baixas">
                </div>
            </div>
        </div>
            
           
            
                
            
        </div>
        </div>
        <div class="tab-pane fade" id="movements" role="tabpanel" aria-labelledby="movements-tab">
            <div class="container my-3">
                <p style="font-weight: bold; font-size: larger;">Número de Movimentos de Estoque</p>
                <h2>Por Mês</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Mês</th>
                        <th>Número de Movimentos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for month, count in movements_per_month.items %}
                    <tr>
                        <td>{{ month }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h2>Por Trimestre</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Trimestre</th>
                        <th>Número de Movimentos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quarter, count in movements_per_quarter.items %}
                    <tr>
                        <td>{{ quarter }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h2>Por Semestre</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Semestre</th>
                        <th>Número de Movimentos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for semester, count in movements_per_semester.items %}
                    <tr>
                        <td>{{ semester }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h2>Por Ano</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Ano</th>
                        <th>Número de Movimentos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for year, count in movements_per_year.items %}
                    <tr>
                        <td>{{ year }}</td>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.0/Chart.bundle.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var ctx = document.getElementById('stockQuantityChart').getContext('2d');
                    var stockQuantityChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [
                                {% for entry in stock_quantity_over_time %}
                                "{{ entry.date|date:'Y-m-d' }}",
                                {% endfor %}
                            ],
                            datasets: [{
                                label: 'Quantidade Total de Produtos',
                                data: [
                                    {% for entry in stock_quantity_over_time %}
                                    {{ entry.total_quantity }},
                                    {% endfor %}
                                ],
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 2,
                                fill: false
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                xAxes: [{
                                    type: 'time',
                                    time: {
                                        unit: 'day',
                                        displayFormats: {
                                            day: 'MMM D'
                                        }
                                    },
                                    distribution: 'series',
                                    ticks: {
                                        source: 'labels'
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        precision: 0
                                    }
                                }]
                            }
                        }
                    });
                });
            </script>
        <script>        
            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('writeOffChart').getContext('2d');
                var writeOffChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [
                            {% for entry in write_off_data %}
                                "{{ entry.month|date:'M Y' }}",
                            {% endfor %}
                        ],
                        datasets: [{
                            label: 'Número de Baixas',
                            data: [
                                {% for entry in write_off_data %}
                                    {{ entry.total }},
                                {% endfor %}
                            ],
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 2,
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Mês'
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 3,
                                    precision: 0
                                },
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Número de Baixas'
                                }
                            }]
                        }
                    }
                });
            });
        </script>
        </div>
    </div>


{% endblock %}
