{% extends 'admin/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <iframe title="dashboard_estoque" width="1080" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYjBlOTY3ODktNzFhNS00OTU1LTk1YzQtNWE3YjQyNzdkYjI1IiwidCI6ImEzMzcyZWIxLTUzZjYtNGQ3ZS04ZjU2LWU3N2YzODNlOTM5NiJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
    
</div>
{% endblock %}
