{% extends 'base.html' %} 
{% load static %}

{% block extra_styles %}
{{ form.media.css }}
<style>
  .select2-container {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single {
    height: 38px !important;
  }
</style>
{% endblock extra_styles %}

{% block content %}

<div class="container py-3">
  <div class="card p-4">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="{{ form.product.id_for_label }}">Produto</label>
          {{ form.product }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.provider.label }} {{ form.provider }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.quantity.label }} {{ form.quantity }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.weight_length.label }} {{ form.weight_length }}
        </div>
        <div class="col-md-6 mb-3">
          {{ form.location.label }} {{ form.location }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
{{ form.media.js }}
{% endblock extra_scripts %}