{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-12">
            <h1>{{ category.name }}</h1>
            <div class="row icon-boxes justify-content-evenly">
                {% for product in products %}
                    <div class="row icon-boxes justify-content-evenly">
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                             data-aos-delay="200">
                            <a href="{% url 'inventory_management:category_items' product.id %}"
                               class="d-flex align-items-stretch mb-5 mb-lg-0">
                                <div class="icon-box">
                                    <div class="icon"><i class="bi bi-bookmarks-fill"></i></div>
                                    <h4 class="title"><a href="">{{ product.name }}</a></h4>
                                    <p class="description">Veja em detalhes cada unidade deste produto.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}