{% extends 'base.html' %}
{% load iam_tags static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <h1>Gestão de Estoque</h1>
        <h2>Saiba como está o seu inventário</h2>
      </div>
    </div>

    {% if user|has_perm:"inventory_management.view_product" %}
    <div class="row icon-boxes justify-content-evenly">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <a href="{% url 'inventory_management:product_list' %}" class="d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box square-icon-box">
            <div class="icon"><i class="bi bi-bookmarks-fill"></i></div>
            <h4 class="title">Produtos</h4>
            <p class="description">Veja os produtos.</p>
          </div>
        </a>
      </div>
      {% endif %}

      {% if user.is_authenticated %}
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <a href="{% url 'inventory_management:scan_qr' %}" class="d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box square-icon-box">
            <div class="icon"><i class="bi bi-qr-code-scan"></i></div>
            <h4 class="title">Escanear QR Code</h4>
            <p class="description">Veja detalhes de um produto escaneando seu QR Code.</p>
          </div>
        </a>
      {% endif %}
      
      </div>
      {% if request.user.is_staff %}
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <a href="{% url 'admin:index' %}" class="d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box square-icon-box">
            <div class="icon"><i class="bi bi-person-fill-gear"></i></div>
            <h4 class="title">Administração</h4>
            <p class="description">Acesse a área administrativa.</p>
          </div>
        </a>
      </div>
      {% endif %}
    </div>

  </div>
</section><!-- End Hero -->
{% endblock %}