{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Gestão de Estoque</h1>
          <h2>Saiba como está o seu inventário</h2>
        </div>
      </div>

      <div class="row icon-boxes justify-content-evenly">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <a href="{% url 'inventory_management:category_list' %}" class="d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-bookmarks-fill"></i></div>
                <h4 class="title">Categorias</h4>
                <p class="description">Veja os produtos por categorias.</p>
              </div>
            </a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
{% endblock %}