{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="row justify-content-center align-items-center g-2 pt-3">
    <div class="col-12">
        <h1>{{ object.product }}</h1>
        <span>
            <i class="bi bi-geo-alt-fill"></i>
            Localização atual: <address><strong>{{ object.location.building.name }}</strong> - {{ object.location.full_address }}</address>
        </span>
    </div>
    <div class="col-12">
        <h2>Movimentações</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Origem</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Observações</th>
                </tr>
            </thead>
            <tbody>
                {% for transfer in object.stocktransfer_set.all %}
                <tr>
                    <td>{{ transfer.transfer_date }}</td>
                    <td>{{ transfer.origin }}</td>
                    <td>{{ transfer.destination }}</td>
                    <td>{{ transfer.observations }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row justify-content-center align-items-center g-2">
    <div id="qrcode" class="col-12 col-md-6 d-flex justify-content-center my-3"></div>
</div>
{% else %}
<div class="row justify-content-center align-items-center g-2 pb-3">
    <div class="col-12 col-md-6">
        <h1>{{ object.product }}</h1>
        <span>
            <i class="bi bi-geo-alt-fill"></i>
            Localização do produto: <address><strong>{{ object.location.building.name }}</strong> - {{ object.location.full_address }}</address>
        </span>
    </div>
    {% if object.product.image %}            
    <figure class="col-12 col-md-6">
        <img src="{{ object.product.image.url }}" alt="{{ object.product.name }}" class="img-fluid">
        <figcaption class="figure-caption text-center">
            <h2>Preço</h2>
            <p class="h5">R$ {{ object.product.price }}</p>
        </figcaption>
    </figure>
    {% endif %}
    <div class="col-12 fs-5">
        {{ object.product.description|linebreaks }}
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: window.location.href,
        width: 256,
        height: 256,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
</script>
{% endblock extra_scripts %}
