{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="container pt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12">
            <h1 class="mb-4">{{ object.product }}</h1>
            <p class="mb-4">
                <i class="bi bi-geo-alt-fill"></i>
                <strong>Localização atual:</strong> {{ object.location.full_adress }}
            </p>
        </div>
    {% if object.stocktransfer_set.all or object.write_off %}
        <div class="col-12">
            <h2 class="mb-3">Movimentações</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Origem</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Observações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transfer in object.stocktransfer_set.all %}
                    <tr>
                        <td>{{ transfer.transfer_date }}</td>
                        <td>{{ transfer.origin }}</td>
                        <td>{{ transfer.destination }}</td>
                        <td>{{ transfer.observations }}</td>
                    </tr>
                    {% endfor %}
                    {% if object.write_off %}
                    <tr>
                        <td>{{ object.modified }}</td>
                        <td>{{ object.location }}</td>
                        <td>Baixa</td>
                        <td>Baixa Realizada</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    
    <div class="row justify-content-center align-items-center mt-4">
        <div id="qrcode" class="col-12 col-md-6 d-flex justify-content-center my-3"></div>
    </div>
    
    {% if object.write_off %}
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <form id="back_to_stock_form" method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="back_to_stock" value="True">
                <button type="submit" class="btn btn-success"><i class="bi bi-box-arrow-up"></i> Voltar para estoque</button>
            </form>
        </div>
    </div>
    {% else %}
        <div class="column d-flex flex-column justify-content-center align-items-center mt-4">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <form id="write_off_form" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="write_off" value="True">
                    <button type="submit" class="btn btn-danger"><i class="bi bi-archive"></i> Dar baixa</button>
                </form>
            </div>
            <div class="col-12 col-md-6 d-flex mt-3 justify-content-center">
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="bi bi-arrow-right"></i> Realizar transferência
                </button>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Fazer Transferência</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form method="post" class="row g-3">
                    {% csrf_token %}
                    <div class="col-12">
                        <label for="destination" class="form-label">Destino:</label>
                        <select name="destination" id="destination" class="form-select">
                            {% for room in rooms %}
                            <option value="{{ room.id }}">{{ room }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="observations" class="form-label">Observações:</label>
                        <textarea name="observations" id="observations" class="form-control"></textarea>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-right"></i> Transferir</button>
                    </div>
                </form>
            </div>            
        </div>          
    {% endif %}
</div>

{% else %}
<div class="container pb-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6">
            <h1 class="mb-4">{{ object.product }}</h1>
            <p class="mb-4">
                <i class="bi bi-geo-alt-fill"></i>
                <strong>Localização do produto:</strong> {{ object.location.building.name }} - {{ object.location.full_address }}
            </p>
        </div>
        {% if object.product.image %}
        <div class="col-12 col-md-6">
            <img src="{{ object.product.image.url }}" alt="{{ object.product.name }}" class="img-fluid">
            <figcaption class="figure-caption text-center">
                <h2>Preço</h2>
                <p class="h5">R$ {{ object.product.price }}</p>
            </figcaption>
        </div>
        {% endif %}
    </div>
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-12 fs-5">
            {{ object.product.description|linebreaks }}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: window.location.href,
        width: 256,
        height: 256,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
</script>
{% endblock extra_scripts %}
