{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center align-items-center g-2 py-3">
    <div class="col-12">
        <h1>Produtos</h1>
        <form id="filter_form" method="GET" action="" class="mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Pesquisar Produto">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row icon-boxes justify-content-evenly mt-3">
            {% for product in products %}
            <div class="col-md-6">
                <div class="card" data-aos="zoom-in" data-aos-delay="200" style="border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.10); border-radius:0;">
                    <a class="card-body" href="{% url 'inventory_management:product_detail' product.slug %}">
                        <div class="icon"><i class="bi bi-box-seam-fill"></i></div>
                        <h4 class="title">{{ product.name }}</h4>
                        <p class="description">Veja os produtos desta categoria.</p>
                    </a>
                </div>
            </div>
            {% empty %}
            <div class="alert alert-warning" role="alert">
                <strong>Opa!</strong> Nenhuma classe foi cadastrada ainda.
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Proxima</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                    {% endif %}
                </ul>
            </nav>   
        </div>        
    </div>
</div>
{% endblock %}
