{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="row justify-content-center g-5 py-3">

    <div class="col-12 col-md-6">
        <h1>{{ object.name }}</h1>
        <p>{{ object.description|linebreaks }}</p>
        <h2>Preço</h2>
        <p class="h5">R$ {{ object.price }}</p>
    </div>  
    
    {% if object.image %}  
    <figure class="col-12 col-md-6">
        <img src="{{ object.image.url }}" class="img-fluid" alt="{{ object.name }}">
        <figcaption class="figure-caption text-center">{{ object.category }} {{ object.name }}<br></figcaption>
    </figure>
    {% endif %}

    {% if object.productunit_set.count != 0 %}         
    <div class="col-12">
        <h2>Unidades</h2>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Produto</th>
                    <th>Localização</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object.productunit_set.all %}
                    <tr>
                        <td>
                            <a href="{% url 'inventory_management:product_unit_detail' item.product.category.slug item.product.slug item.slug %}">
                                {{ item.product.name }} - {{ item.slug }}
                            </a>
                        </td>
                        <td>{{ item.location.building.name }} - {{ item.location.full_address }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% else %}
<div class="row justify-content-center align-items-center g-2 pb-3">
    <div class="col-12 col-md-6">
        <h1>{{ object.name }}</h1>
    </div>
    {% if object.image %}            
    <figure class="col-12 col-md-6">
        <img src="{{ object.image.url }}" alt="{{ object.name }}" class="img-fluid">
        <figcaption class="figure-caption text-center">
            <h2>Preço</h2>
            <p class="h5">R$ {{ object.price }}</p>
        </figcaption>
    </figure>
    {% endif %}
    <div class="col-12 fs-5">
        {{ object.description|linebreaks }}
    </div>
</div>
{% endif %}
{% endblock %}