{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid px-2">
    <!-- Se precisar remover ainda mais espaço, troque 'row' por 'row g-0' e remova margens/paddings -->
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card border-0">
                <div class="card-body p-2">
                    <h1 class="h3 text-center m-0">{{ object.name|title }}</h1>
                    <p class="m-0">{{ object.description|linebreaks }}</p>
                    <h2 class="h6 mt-2 mb-1">Preço</h2>
                    <p class="m-0 text-primary">R$ {{ object.price }}</p>
                    {% if object.image %}
                    <div class="text-center my-2">
                        <img src="{{ object.image.url }}" class="img-fluid rounded" alt="{{ object.name }}">
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-between mt-2">
                        <a href="{% url 'inventory_management:product_unit_create' %}" class="btn btn-sm btn-success">Adicionar Unidade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if object.productunit_set.count != 0 %}
    <div class="row mt-2 g-2">
        <div class="col-12 col-md-4">
            <div class="card border-0">
                <div class="card-body p-2">
                    <h5 class="m-0 mb-2">Filtros</h5>
                    <form id="location_filter_form" method="GET">
                        <label class="form-label m-0">Tipo de Depósito</label>
                        <select name="location" id="location" class="form-select form-select-sm mb-2">
                            <option value="">Selecione um Local</option>
                            {% for location in locations %}
                            <option value="{{ location.id }}"
                                {% if request.GET.location == location.id %}selected{% endif %}>
                                {{ location.name }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary btn-sm w-100">Aplicar Filtros</button>
                    </form>
                    
                    <!-- Filtro de PRD  -->
                    <label class="form-label mt-2">Filtro por PRD</label>
                    <form id="prd_filter_form" method="GET" class="mt-0">
                        <div class="input-group">
                            <input type="text" class="form-control m-0" id="prd_code" name="prd_code" value="{{ request.GET.prd_code }}" placeholder="Filtrar por Código do Produto (ex: PRD-001)">
                            <button type="submit" class="btn btn-primary btn-sm w-100 mt-2">Aplicar Filtros</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="card border-0">
                <div class="card-body p-2">
                    <h5 class="m-0 mb-2">Unidades</h5>
                    <table class="table table-striped table-sm align-middle">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Localização</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in product_units %}
                            <tr>
                                <td>
                                    <a href="{% url 'inventory_management:product_unit_detail' item.product.slug item.slug %}"
                                       class="text-decoration-none small">
                                        {{ item.product.name }} - {{ item.code }}
                                    </a>
                                </td>
                                <td>
                                    {% if item.write_off %}
                                        <span class="text-danger small">Baixado</span>
                                    {% else %}
                                        <span class="small">{{ item.location }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Paginação -->
                    {% if page_obj %}
                    <nav aria-label="Page navigation" class="mt-2">
                        <ul class="pagination pagination-sm justify-content-center m-0">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1{% if request.GET.write_off %}&write_off={{ request.GET.write_off }}{% endif %}">
                                    Primeira
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.write_off %}&write_off={{ request.GET.write_off }}{% endif %}">
                                    Anterior
                                </a>
                            </li>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ num }}</span>
                                    </li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}{% if request.GET.write_off %}&write_off={{ request.GET.write_off }}{% endif %}">
                                            {{ num }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.write_off %}&write_off={{ request.GET.write_off }}{% endif %}">
                                    Próxima
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.write_off %}&write_off={{ request.GET.write_off }}{% endif %}">
                                    Última
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}

                    <div class="text-center mt-2">
                        <h4 class="small m-0">
                            <strong>Total: {{ total_weight_length }} {{ object.get_measure|lower }}</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% else %}
<div class="container-fluid px-2">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body p-2">
                    <h1 class="h4 text-uppercase m-0">{{ object.name|title }}</h1>
                    <p class="m-0">{{ object.description|linebreaks }}</p>
                    {% if object.width %}
                    <h5 class="mt-2 mb-1">Largura</h5>
                    <p class="m-0">{{ object.width }}m</p>
                    {% endif %}
                    {% if object.composition %}
                    <h5 class="mt-2 mb-1">Composição</h5>
                    <p class="m-0">{{ object.composition }}</p>
                    {% endif %}
                    <h5 class="mt-2 mb-1">Unidade de Medida</h5>
                    <p class="m-0">{{ object.get_measure }}</p>
                    <h5 class="mt-2 mb-1">Preço</h5>
                    <p class="m-0 text-primary">R$ {{ object.price }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            {% if object.image %}
            <div class="my-1">
                <img src="{{ object.image.url }}" alt="{{ object.name }}" class="img-fluid rounded">
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function updateFields() {
            var locationSelected = $('#location').val();
    
            if (locationSelected) {
                $.ajax({
                    url: '/get-storage-type-is-store/',
                    data: { 'id': locationSelected },
                    success: function(data) {
                        var isStore = data.is_store;
    
                        if (isStore) {
                            $('#buildingGroup').show();
                        } else {
                            $('#buildingGroup').hide();
                            $('#hallGroup').hide();
                            $('#roomGroup').hide();
                            $('#shelfGroup').hide();
                            return; // Early return if is_store is false
                        }
    
                        var buildingSelected = $('#building').val();
                        if (buildingSelected) {
                            getBuildingProperties(buildingSelected).then(function(properties) {
                                var hallSelected = $('#hall').val();
                                var roomSelected = $('#room').val();
                                var shelfSelected = $('#shelf').val();
    
                                if (properties.has_hall) {
                                    $('#hallGroup').show();
                                    updateHalls(buildingSelected, hallSelected).then(function() {
                                        if (properties.has_room) {
                                            $('#roomGroup').show();
                                            if (hallSelected) {
                                                updateRoomsByHall(hallSelected, roomSelected).then(function() {
                                                    if (properties.has_shelf) {
                                                        $('#shelfGroup').show();
                                                        updateShelvesByRoom(roomSelected, shelfSelected);
                                                    } else {
                                                        $('#shelfGroup').hide();
                                                    }
                                                });
                                            } else {
                                                updateRoomsByBuilding(buildingSelected, roomSelected).then(function() {
                                                    if (properties.has_shelf) {
                                                        $('#shelfGroup').show();
                                                        updateShelvesByBuilding(buildingSelected, shelfSelected);
                                                    } else {
                                                        $('#shelfGroup').hide();
                                                    }
                                                });
                                            }
                                        } else {
                                            $('#roomGroup').hide();
                                            $('#shelfGroup').hide();
                                        }
                                    });
                                } else {
                                    $('#hallGroup').hide();
                                    if (properties.has_room) {
                                        $('#roomGroup').show();
                                        updateRoomsByBuilding(buildingSelected, roomSelected).then(function() {
                                            if (properties.has_shelf) {
                                                $('#shelfGroup').show();
                                                updateShelvesByBuilding(buildingSelected, shelfSelected);
                                            } else {
                                                $('#shelfGroup').hide();
                                            }
                                        });
                                    } else {
                                        $('#roomGroup').hide();
                                        $('#shelfGroup').hide();
                                    }
                                }
                            });
                        } else {
                            $('#hallGroup').hide();
                            $('#roomGroup').hide();
                            $('#shelfGroup').hide();
                        }
                    },
                    error: function() {
                        console.error('Failed to fetch storage type data.');
                    }
                });
            } else {
                $('#buildingGroup').hide();
                $('#hallGroup').hide();
                $('#roomGroup').hide();
                $('#shelfGroup').hide();
            }
        }
    
        function getBuildingProperties(buildingId) {
            return $.ajax({
                url: '/get-building-properties/',
                data: { 'building_id': buildingId }
            });
        }
    
        function updateHalls(buildingId, selectedHall) {
            return $.ajax({
                url: '/get-halls/',
                data: { 'building_id': buildingId },
                success: function(data) {
                    $('#hall').empty();
                    $('#hall').append($('<option>').text('---------').attr('value', ''));
                    $.each(data, function(index, value) {
                        var option = $('<option>').text(value.name).attr('value', value.id);
                        if (value.id == selectedHall) {
                            option.attr('selected', 'selected');
                        }
                        $('#hall').append(option);
                    });
                }
            });
        }
    
        function updateRoomsByBuilding(buildingId, selectedRoom) {
            return $.ajax({
                url: '/get-rooms/',
                data: { 'building_id': buildingId },
                success: function(data) {
                    $('#room').empty();
                    $('#room').append($('<option>').text('---------').attr('value', ''));
                    $.each(data, function(index, value) {
                        var option = $('<option>').text(value.name).attr('value', value.id);
                        if (value.id == selectedRoom) {
                            option.attr('selected', 'selected');
                        }
                        $('#room').append(option);
                    });
                }
            });
        }
    
        function updateRoomsByHall(hallId, selectedRoom) {
            return $.ajax({
                url: '/get-rooms/',
                data: { 'hall_id': hallId },
                success: function(data) {
                    $('#room').empty();
                    $('#room').append($('<option>').text('---------').attr('value', ''));
                    $.each(data, function(index, value) {
                        var option = $('<option>').text(value.name).attr('value', value.id);
                        if (value.id == selectedRoom) {
                            option.attr('selected', 'selected');
                        }
                        $('#room').append(option);
                    });
                }
            });
        }
    
        function updateShelvesByBuilding(buildingId, selectedShelf) {
            return $.ajax({
                url: '/get-shelves/',
                data: { 'building_id': buildingId },
                success: function(data) {
                    $('#shelf').empty();
                    $('#shelf').append($('<option>').text('---------').attr('value', ''));
                    $.each(data, function(index, value) {
                        var option = $('<option>').text(value.name).attr('value', value.id);
                        if (value.id == selectedShelf) {
                            option.attr('selected', 'selected');
                        }
                        $('#shelf').append(option);
                    });
                }
            });
        }
    
        function updateShelvesByRoom(roomId, selectedShelf) {
            return $.ajax({
                url: '/get-shelves/',
                data: { 'room_id': roomId },
                success: function(data) {
                    $('#shelf').empty();
                    $('#shelf').append($('<option>').text('---------').attr('value', ''));
                    $.each(data, function(index, value) {
                        var option = $('<option>').text(value.name).attr('value', value.id);
                        if (value.id == selectedShelf) {
                            option.attr('selected', 'selected');
                        }
                        $('#shelf').append(option);
                    });
                }
            });
        }
    
        $('#location').change(function() {
            updateFields();
        });
    
        $('#building').change(function() {
            updateFields();
        });
    
        $('#hall').change(function() {
            updateFields();
        });
    
        $('#room').change(function() {
            updateFields();
        });
    
        $('#shelf').change(function() {
            updateFields();
        });
    
        updateFields();
    });
</script>
{% endblock %}
