{% extends "base.html" %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>

    <h2>Unidades</h2>
    <ul class="list-group">
        {% for item in object.productunit_set.all %}
            <li class="list-group-item">
                <a href="{% url 'inventory_management:product_unit_detail' item.product.category.slug item.product.slug item.slug %}">{{ item.product.name }} - {{ item.slug }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}