{% extends "admin/base.html" %}
{% block title %}Upload Excel{% endblock %}
{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <h1>Carregador de Dados</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-upload"></i>
                        Carregar Dados</button>
                </div>
            </form>
        </div>
    </div>
    {% comment %} {% if messages %}
    <div class="row mt-4">
        <div class="col d-flex justify-content-center">
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %} {% endcomment %}
</div>
{% endblock %}
