{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center align-items-center g-2 py-3">
    <div class="col-12">
        <h1 class="">Minha área de trabalho</h1>
        <div id="reader" class="qr-code-reader"></div> <!-- Movendo a área de leitura para o cabeçalho -->
    </div>
    <div class="col-12">
        <h2>Produtos na área de trabalho:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Identificador</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for workspace in object_list %}
                <tr>
                    <td>{{ workspace.product.product }}</td>
                    <td>{{ workspace.product.id }}</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="remove" value="{{ workspace.product.id }}">
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
    
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum produto na área de trabalho.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-12 g-3">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-4 col-12 mb-2">
                    <button type="button" class="btn btn-success w-100 {% if object_list %} {% else %} disabled {% endif %} " data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        <i class="bi bi-arrow-up-circle"></i> Transferir produtos
                    </button>
                </div>   
                <div class="col-md-4 col-12 mb-2">
                    <button type="button" class="btn btn-warning w-100 {% if object_list %} {% else %} disabled {% endif %} " data-toggle="modal" data-target="#confirmationModalBaixa">
                        <i class="bi bi-archive"></i> Baixar produtos
                    </button>
                </div>
                <div class="col-md-4 col-12 mb-2">
                    <button type="button" class="btn btn-danger w-100 {% if object_list %} {% else %} disabled {% endif %} " data-toggle="modal" data-target="#confirmationModal">
                        <i class="bi bi-trash"></i> Limpar área de trabalho
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Limpar Área de trabalho</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza de que deseja limpar a área de trabalho?
          <br>
            <div class="form-group">
                <form id="clean" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="clean" value="True">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Limpar</button>
            </form>
        </div>
      </div>
    </div>       
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Fazer Transferência</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="post" class="row g-3">
            {% csrf_token %}
            <div class="form-group">
                <label for="location">Tipo de Depósito:</label>
                <select name="location" id="location" class="form-select">
                    <option value="None" selected>---------</option>
                    {% for storage_type in storage_types %}
                    <option value="{{ storage_type.id }}">{{ storage_type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" style="display: none;" id="buildingGroup">
                <label for="building">Depósito:</label>
                <select name="building" id="building" class="form-select">
                    <option value="" selected>---------</option>
                    {% for building in buildings %}
                    <option value="{{ building.id }}">{{ building }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group" style="display: none;" id="hallGroup">
                <label for="hall">Corredor:</label>
                <select name="hall" id="hall" class="form-select">
                    <option value="" selected>---------</option>
                    {% for hall in halls %}
                    <option value="{{ hall.id }}">{{ hall }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" style="display: none;" id="roomGroup">
                <label for="room">Sala:</label>
                <select name="room" id="room" class="form-select">
                    <option value="" selected>---------</option>
                    {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" style="display: none;" id="shelfGroup">
                <label for="shelf">Prateleira:</label>
                <select name="shelf" id="shelf" class="form-select">
                    <option value="" selected>---------</option>
                    {% for shelf in shelves %}
                    <option value="{{ shelf.id }}">{{ shelf }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12">
                <label for="observations" class="form-label">Observações:</label>
                <textarea name="observations" id="observations" class="form-control"></textarea>
            </div>
            <div class="col-12 text-center">
                <button type="submit" id="transfer_btn" class="btn btn-primary"><i class="bi bi-arrow-right"></i> Transferir</button>
            </div>
        </form>
    </div>            
</div>
<div class="modal fade" id="confirmationModalBaixa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmação de Baixas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza de que deseja dar baixa nesses produtos?
          <br>
            <div class="form-group">
                <label for="write_off_destination" class="form-label">Destinatário da Baixa:</label>
                <form id="write_off_form" method="post" action="">
                    {% csrf_token %}
                    <select name="write_off_destination" id="write_off_destination" class="form-select">
                        {% for write_off_destination in write_off_destinations %}
                        <option value="{{ write_off_destination.id }}">{{ write_off_destination }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="write_off" value="True">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-warning">Confirmar Baixa</button>
            </form>
        </div>
      </div>
    </div> 
</div>
{% endblock content %}

{% block extra_styles %}
<style>
    .qr-code-reader {
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adicionando sombreamento */
    }
</style>
{% endblock extra_styles %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let qrCodeReadingActive = true;

    function onScanSuccess(decodedText, decodedResult) {
        if (!qrCodeReadingActive) return;

        qrCodeReadingActive = false;

        var url = decodedText;
        var product_id = url.match(/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}/)[0];

        $.ajax({
            type: 'POST',
            data: {
                "product_id": product_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                if (response.success){
                    if (response.reload) {
                        location.reload();
                    }
                    if (response.transfer) {
                        var response = JSON.parse(response);
                        alert(response.message);
                    }
                }
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
                var response = JSON.parse(xhr.responseText);
                var errorMessage = response.error;
                alert(errorMessage);
                location.reload();
            },
        });
    }

    $(document).ready(function () {
        $('form').submit(function (event) {
            event.preventDefault();
            
            var formData = $(this).serialize();
            
            $.ajax({
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        if (response.reload) {
                            location.reload();
                        }
                    } else {
                        console.log(response.error);
                    }
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                },
            });
        });
    });

    function onScanFailure(error) {
        console.warn(`Code scan error = ${error}`);
    }

    let html5QrcodeScanner = new Html5QrcodeScanner(
        "reader",
        { fps: 10, qrbox: { width: 250, height: 250 } },  /* verbose= */ false);
    
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);

</script>

<script>
    $(document).ready(function() {
    
    function updateFields() {
        var locationSelectedText = $('#location option:selected').text().trim();

        if (locationSelectedText === "Depósito") {
            $('#buildingGroup').show();
        } else {
            $('#buildingGroup').hide();
            $('#hallGroup').hide();
            $('#roomGroup').hide();
            $('#shelfGroup').hide();
            return; // Early return if location is not "Depósito"
        }

        var buildingSelected = $('#building').val();
        if (buildingSelected) {
            getBuildingProperties(buildingSelected).then(function(properties) {
                var hallSelected = $('#hall').val();
                var roomSelected = $('#room').val();
                var shelfSelected = $('#shelf').val();

                if (properties.has_hall) {
                    $('#hallGroup').show();
                    updateHalls(buildingSelected, hallSelected).then(function() {
                        if (properties.has_room) {
                            $('#roomGroup').show();
                            if (hallSelected) {
                                updateRoomsByHall(hallSelected, roomSelected).then(function() {
                                    if (properties.has_shelf) {
                                        $('#shelfGroup').show();
                                        updateShelvesByRoom(roomSelected, shelfSelected);
                                    } else {
                                        $('#shelfGroup').hide();
                                    }
                                });
                            } else {
                                updateRoomsByBuilding(buildingSelected, roomSelected).then(function() {
                                    if (properties.has_shelf) {
                                        $('#shelfGroup').show();
                                        updateShelvesByBuilding(buildingSelected, shelfSelected);
                                    } else {
                                        $('#shelfGroup').hide();
                                    }
                                });
                            }
                        } else {
                            $('#roomGroup').hide();
                            $('#shelfGroup').hide();
                        }
                    });
                } else {
                    $('#hallGroup').hide();
                    if (properties.has_room) {
                        $('#roomGroup').show();
                        updateRoomsByBuilding(buildingSelected, roomSelected).then(function() {
                            if (properties.has_shelf) {
                                $('#shelfGroup').show();
                                updateShelvesByBuilding(buildingSelected, shelfSelected);
                            } else {
                                $('#shelfGroup').hide();
                            }
                        });
                    } else {
                        $('#roomGroup').hide();
                        $('#shelfGroup').hide();
                    }
                }
            });
        } else {
            $('#hallGroup').hide();
            $('#roomGroup').hide();
            $('#shelfGroup').hide();
        }
    }

    function getBuildingProperties(buildingId) {
   
        return $.ajax({
            url: '/get-building-properties/',
            data: { 'building_id': buildingId }
        });
    }

    function updateHalls(buildingId, selectedHall) {
     
        return $.ajax({
            url: '/get-halls/',
            data: { 'building_id': buildingId },
            success: function(data) {
                $('#hall').empty();
                $('#hall').append($('<option>').text('---------').attr('value', ''));
                $.each(data, function(index, value) {
                    var option = $('<option>').text(value.name).attr('value', value.id);
                    if (value.id == selectedHall) {
                        option.attr('selected', 'selected');
                    }
                    $('#hall').append(option);
                });
            }
        });
    }

    function updateRoomsByBuilding(buildingId, selectedRoom) {
        return $.ajax({
            url: '/get-rooms/',
            data: { 'building_id': buildingId },
            success: function(data) {
                $('#room').empty();
                $('#room').append($('<option>').text('---------').attr('value', ''));
                $.each(data, function(index, value) {
                    var option = $('<option>').text(value.name).attr('value', value.id);
                    if (value.id == selectedRoom) {
                        option.attr('selected', 'selected');
                    }
                    $('#room').append(option);
                });
            }
        });
    }

    function updateRoomsByHall(hallId, selectedRoom) {
        return $.ajax({
            url: '/get-rooms/',
            data: { 'hall_id': hallId },
            success: function(data) {
                $('#room').empty();
                $('#room').append($('<option>').text('---------').attr('value', ''));
                $.each(data, function(index, value) {
                    var option = $('<option>').text(value.name).attr('value', value.id);
                    if (value.id == selectedRoom) {
                        option.attr('selected', 'selected');
                    }
                    $('#room').append(option);
                });
            }
        });
    }

    function updateShelvesByBuilding(buildingId, selectedShelf) {
        return $.ajax({
            url: '/get-shelves/',
            data: { 'building_id': buildingId },
            success: function(data) {
                $('#shelf').empty();
                $('#shelf').append($('<option>').text('---------').attr('value', ''));
                $.each(data, function(index, value) {
                    var option = $('<option>').text(value.name).attr('value', value.id);
                    if (value.id == selectedShelf) {
                        option.attr('selected', 'selected');
                    }
                    $('#shelf').append(option);
                });
            }
        });
    }

    function updateShelvesByRoom(roomId, selectedShelf) {
        return $.ajax({
            url: '/get-shelves/',
            data: { 'room_id': roomId },
            success: function(data) {
                $('#shelf').empty();
                $('#shelf').append($('<option>').text('---------').attr('value', ''));
                $.each(data, function(index, value) {
                    var option = $('<option>').text(value.name).attr('value', value.id);
                    if (value.id == selectedShelf) {
                        option.attr('selected', 'selected');
                    }
                    $('#shelf').append(option);
                });
            }
        });
    }

    $('#location').change(function() {
        updateFields();
    });

    $('#building').change(function() {
        updateFields();
    });

    $('#hall').change(function() {
        updateFields();
    });

    $('#room').change(function() {
        updateFields();
    });

    updateFields();
});
</script>



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock extra_scripts %}
